<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="about">
    <div class="w-100">
        <h2 class="mb-5">Chi sono</h2>
        <p>Software Developer, originario di Brescia, appassionato di Web.</p>
        <p>
            Nella mia carriera ho collaborato come sviluppatore e consulente freelance allo sviluppo di applicazioni
            di ogni genere; da ERP e CRM, a portali assicurativi o anche semplici siti web.<br />
            Le mie competenze riguardano soprattutto il mondo .NET, sia .NET Framework che .NET Core. A questo si
            aggiunge Javascript, prevelamentemente con AngularJS e Vue.
        </p>
        <p>
            Mi piace condividere le mie esperienze ed imparare cose nuove, per questo, quando posso, cerco di
            pubblicare piccoli progetti sul mio profilo <a href="https://github.com/albx" target="_blank">GitHub</a>
            o scrivere qualche post sul <a href="/blog" target="_blank">blog</a>.
        </p>
        <p>
            Nell'ultimo periodo ho anche iniziato la mia avventura nel mondo del <strong>live coding</strong>.<br />
            Il sabato pomeriggio mi trovate live su <a href="https://www.twitch.tv/albx87" target="_blank">Twitch</a> a partire dalle 16.00, mentre la registrazione delle live la trovate su <a href="https://www.youtube.com/channel/UCKQ-L2d8p5NPiObLoh7YXRw" target="_blank">YouTube</a>.
        </p>
        <p class="mb-0">
            Quando non scrivo codice sono in palestra. Sono Insegnante Tecnico di Karate presso l'<a
                href="http://www.masterrapidghedi.it" target="_blank">A.S.D. Karate Master Rapid Ghedi</a>.
        </p>
    </div>
</section>