<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="intro">
    <div class="w-100">
        <h1 class="mb-0">Alberto
            <span class="text-primary">Mori</span>
        </h1>
        <p class="lead mb-5">Software Developer @ <a href="https://www.arxivar.it/it/" target="_blank">Arxivar -
                Able Tech srl</a></p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/morialberto/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/albx" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://twitter.com/albx87" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/mori.alberto" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.twitch.tv/albx87" target="_blank">
                <i class="fab fa-twitch"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCKQ-L2d8p5NPiObLoh7YXRw" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
</section>