<div class="row align-items-center">
    <div class="col-md-auto">
        Ti è piaciuto questo post?
    </div>
    <div class="col-md-auto">
        <button type="button" class="btn btn-lg unlike-btn">
            <i class="far fa-thumbs-up"></i>
        </button>
    </div>
    <div class="col-md-auto">
        <button type="button" class="btn btn-lg unlike-btn">
            <i class="far fa-thumbs-down"></i>
        </button>
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public string Page { get; set; } = string.Empty;
}
